
<ion-content class="ion-padding">
  <p class='title'>Famous Songs</p>
  <p class='question'>Question {{questionCounter+1}}/{{questions.length}}:
    Who made this famous song?</p>
    <p class='song'>
      <ion-icon class='icon' name="musical-notes"></ion-icon>{{activeQuestion?.song}}
      <ion-icon class='icon' name="musical-notes"></ion-icon>
    </p>
    <ion-list>
      <ion-radio-group >
        <ion-item disabled="{{isDisabled}}" *ngFor="let option of activeQuestion?.options; index as i">
          <ion-label class='option'>{{option}}</ion-label>
          <ion-radio *ngIf=!isCorrect (ionSelect)="checkOption(i, activeQuestion)">
              
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <p>{{feedback}}</p>
    <img *ngIf=isDisabled src="../../assets/imgs/joo.png"
      (click)="setQuestion()" tappable />
      
      

  
</ion-content>
