<ion-content class="ion-padding">
  <p class='title'>Famous Songs</p>

  <p>Your time was {{ durationSeconds }} seconds</p>
  <p>Correct answers {{correct}}/{{nbrOfQuestions}}</p>
  <p>Correctness: {{correctness}}%</p>
  
  <img id=faces src="{{source}}" alt="naamat" />
  <p>{{level}}</p>

  <ion-button (click)='goHome()'>Correct answers</ion-button>
  

  
</ion-content>
