<ion-content class="ion-padding">
  <p class='title'>Famous Songs</p>
  <h3>Correct answers</h3>

  <ion-grid>
    <ion-row *ngFor="let item of answers; index as i">
      
      <ion-col class='song' size="3"> {{ item.song }}</ion-col>
      <ion-col size="3"> {{ item.options[item.correctOption]}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"><img src="../../assets/imgs/guitar-4150948_960_720.jpg" /></ion-col>
    </ion-row>
  </ion-grid>
  
  <div>
  <ion-button (click)='goHome()'>End Quiz</ion-button>
  </div>


  
</ion-content>
