

ion-content {
    .title {
        font-size: 2.5em;
        font-weight: bold;
    }
    .question {
        font-size: 1.5em;
    }
    .song {
        font-size: 1em;
        font-weight: bold;
       
    }
    .option {
        font-size: 1em;
    }
    .icon {
        padding-right: 0.25em;
    }
}