

<ion-content class="ion-padding tausta">
    <p class='title'>Famous Songs</p>
    <p>Do you know which artist made the song in question?</p>
    <img src="../../assets/imgs/headphones-2024215_12800.png" />
    <div class="ion-padding">
        <ion-button (click)="show_question()">To the Quiz!</ion-button>
    </div>
  
</ion-content>